<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerClass="LimeDeck\Testing\Printer"
         processIsolation="false"
         stopOnFailure="true">
  <testsuites>
    <testsuite name="Laravel-ManticoreSearch Test Suite">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
  </logging>
</phpunit>
